@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Cairo", sans-serif;
    @apply text-white bg-[#161618] relative;
    
}
.content{
    box-shadow: 1px 0px 7px 3px #d4cccc3f;
}

label{
 @apply block text-xl font-bold mt-5 p-1;
}

input,
select{
    box-shadow: 1px 0px 7px 1px #d4cccc3f;
    @apply w-[80%] p-2 rounded-md bg-zinc-900 outline-none text-white font-bold text-lg border-solid border-2 border-teal-950;
}
.disabled{
    @apply   bg-[#cbcbcbe8];
}
.abled{
    @apply   bg-teal-800;
}
